# Ignorar carpetas y archivos de configuración de IntelliJ IDEA
.idea/
*.iml

# Ignorar la carpeta de compilación
out/
target/

# Ignorar archivos temporales del sistema operativo
*.DS_Store
*.log
*.swp

# Ignorar archivos de compilación
*.class
*.jar
*.war
*.ear

# Ignorar configuraciones de Maven o Gradle
.mvn/
.gradle/

# Ignorar dependencias locales (si es que tienes)
node_modules/

# Ignorar archivos generados de Git
*.gitignore~
